In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import tensorflow as tf
from sklearn.model_selection import train_test_split

In [5]:
df = pd.read_csv("../dataset/epl-2024-2025-data.csv")

In [6]:
df.head()

  Div        Date   Time    HomeTeam     AwayTeam  FTHG  ...  HC  AC  HY  AY HR AR
0  E0  16/08/2024  20:00  Man United       Fulham     1  ...   7   8   2   3  0  0
1  E0  17/08/2024  12:30     Ipswich    Liverpool     0  ...   2  10   3   1  0  0
2  E0  17/08/2024  15:00     Arsenal       Wolves     2  ...   8   2   2   2  0  0
3  E0  17/08/2024  15:00     Everton     Brighton     0  ...   1   5   1   1  1  0
4  E0  17/08/2024  15:00   Newcastle  Southampton     1  ...   3  12   2   4  1  0

[5 rows x 24 columns]